[gdrive]
type = drive
client_id = YOUR_CLIENT_ID
client_secret = YOUR_CLIENT_SECRET
token = YOUR_TOKEN
# scope can be either 'drive' (full access) or 'drive.file' (restricted access)
scope = drive

[gdrive-crypt]
type = crypt
remote = gdrive:secure_vault
filename_encryption = off
directory_name_encryption = false
password = YOUR_ENCRYPTION_PASSWORD
password2 = YOUR_SALT_PASSWORD

# Optional: Configure bandwidth limits
# bandwidth_limit = 10M
# bandwidth_limit_remote = 10M 